@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%) fixed;
}

.about__header {
  color: #1460aa;
  width: 700px;
}

.about__link {
  color: #1A936f;
}

.about__paragraph {
  padding: 0 0 0 16px;
  &__paragraph--color {
    color: #ff6700;
  }
}
.day {
  padding: 16px;
}

.day__link {
  color: #1A936f;
}

.day__paragraph {
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.day__header {
  color: #0496ff;
  margin: 0;
}

.diary__header {
  color: #1460aa;
  margin: 0 0 16px;
}

.header__title {
  color: tomato;
}

.grid__article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid__header {
  grid-area: grid__header;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
}

.navigation {
}

.navigation__item {
  display: inline;
}

.navigation__link {
  color: #1A936f;
}

.navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.site__header {
  background: #fff;
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.stopka {
  color: #999999;
}

@media (min-width: 640px) {
  .navigation__switcher {
    display: none;
  }
}
@media (max-width: 640px) {
  .grid__article {
    grid-template-columns: 1fr;
    }
  .navigation__list {
    flex-direction: column;
    display: none;
    &__list--visible {
      display: flex;
    }
  }
  .navigation
  .navigation__switcher {
    border: none;
    color: none;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .site__header {
    min-height: 48px;
  }
}